{% extends 'base.html' %}

    {% block content %}
        {% if form.errors %}
        <p class="errors"> invalid username or password</p>
        {% endif%}
        <form action="/login/auth/" method = "POST">{% csrf_token %}
        <label for="username">user name : </label>
        <input type="text" name = "username" value = "" id="username"><br>
        <label for="password"> Password:</label>
        <input type="password" name="password" value="" id="password">
        <input type="submit" value="login"/>
        </form>
        <a href='/login/register'>Click to Register</a>
{% endblock %}
