{% load static %}
<html>
    <head>
        <title>Restaurant Portal</title>
        <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    </head>
    <body>
        <div class="w3-container w3-blue">
            <h2>Welcome to the Restaurant Portal</h2>
            <a class="w3-button w3-black w3-hover-grey" href="/restaurant/add_item/">Add Item</a>
            <a class="w3-button w3-black w3-hover-grey" href="/restaurant/view_items/">View Items</a>
            <a class="w3-button w3-black w3-hover-grey" href="/restaurant/view_orders/">View Orders</a>
        </div>
        {% block content %}
        {% endblock %}
        <div class="w3-container w3-blue">
            <a href="/login/logout/">Logout</a>
            <h6>Software Project by CE-100,101,102.</h6>
        </div>
    </body>
</html>
