{% load static %}
<html>
    <head>
        <title>Order Now</title>
        <div class="w3-container w3-blue">
            <h2>Place your Order Now!</h2>
            <a href="/order/select_res/"><button class='w3-btn w3-black w3-hover-grey'>Order</button></a>
            <a href="/order/view/"><button class='w3-btn w3-black w3-hover-grey'>View Orders</button></a>
        </div>
        <link rel="stylesheet" href="{% static 'css/w3.css' %}"><br>
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <div class="w3-container w3-blue">
            <h6>Software Project by CE-100,101,102.</h6>
            <p><a href="/login/logout/">Logout</a></p>
        </div>
    </body>
</html>
