{% extends 'order/base.html' %}
{% block content %}
{% load static %}
<form method="POST" action="/order/finalize/">{% csrf_token %}
    {% csrf_token %}
    {% for item in items %}
        {{ item.item_name }}<br>
        <img width="100" height="100" src="{% static item.image.url %}"><br>
        Price: {{ item.item_price }}
        <input type = 'checkbox' name='selected_item_ids' value = '{{ item.ITEMID }}'><br><br>
    {% endfor %}
    <input type='submit' value='Order these Items'>
</form>
{% endblock %}
